@model ToDoListWebApp.Models.Goal

@{
    ViewData["Title"] = "EditGoal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>EditGoal</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="SubmitEditGoal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NidGoal" />
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="Tasks" />
            <input type="hidden" asp-for="Progresses" />
            <div class="form-group" hidden>
                <label asp-for="GoalStatus" class="control-label"></label>
                <input asp-for="GoalStatus" class="form-control" />
                <span asp-validation-for="GoalStatus" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="LastModifiedDate" class="control-label"></label>
                <input asp-for="LastModifiedDate" class="form-control" />
                <span asp-validation-for="LastModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" autofocus />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="col-md-12 d-flex">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="EstimateTime" class="control-label"></label>
                        <input asp-for="EstimateTime" class="form-control" placeholder="hour(s)" />
                        <span asp-validation-for="EstimateTime" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="DurationType" class="control-label"></label>
                        <select asp-for="DurationType" class="form-control">
                            @if(Model.DurationType == 1)
                            {
                                <option value="1" selected>Daily</option>
                            }else
                            {
                                <option value="1">Daily</option>
                            }
                            @if (Model.DurationType == 2)
                            {
                                <option value="2" selected>Weekly</option>
                            }
                            else
                            {
                                <option value="2">Weekly</option>
                            }
                            @if (Model.DurationType == 3)
                            {
                                <option value="3" selected>Monthly</option>
                            }
                            else
                            {
                                <option value="3">Monthly</option>
                            }
                        </select>
                        <span asp-validation-for="DurationType" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 d-flex">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="GoalType" class="control-label"></label>
                        <select asp-for="GoalType" class="form-control">
                            @if (Model.GoalType == 1)
                            {
                                <option value="1" selected>Chore</option>
                                <option value="0">Goal</option>
                            }
                            @if (Model.GoalType == 0)
                            {
                                <option value="0" selected>Goal</option>
                                <option value="1">Chore</option>
                            }
                        </select>
                        <span asp-validation-for="GoalType" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4 text-center">
                        <input type="submit" value="edit" class="btn btn-warning" />
                        <a class="btn btn-outline-info" asp-action="Goals">Back to List</a>
                    </div>
                    <div class="col-lg-4"></div>
                </div>
            </div>
        </form>
    </div>
</div>


