USE [master]
GO
/****** Object:  Database [ToDoListDb]    Script Date: 4/5/2024 10:57:54 PM ******/
CREATE DATABASE [ToDoListDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ToDoListDb', FILENAME = N'D:\sqlData\TodoList\ToDoListDb.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ToDoListDb_log', FILENAME = N'D:\sqlData\TodoList\ToDoListDb_log.ldf' , SIZE = 20096KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ToDoListDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ToDoListDb]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 4/5/2024 10:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[NidAccount] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
	[Amount] [decimal](18, 0) NOT NULL,
	[LendAmount] [decimal](18, 0) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[NidAccount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Goals]    Script Date: 4/5/2024 10:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Goals](
	[NidGoal] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[GoalStatus] [tinyint] NOT NULL,
	[FromDate] [date] NOT NULL,
	[ToDate] [date] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Goals] PRIMARY KEY CLUSTERED 
(
	[NidGoal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NoteGroups]    Script Date: 4/5/2024 10:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NoteGroups](
	[NidGroup] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_NoteGroups] PRIMARY KEY CLUSTERED 
(
	[NidGroup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Notes]    Script Date: 4/5/2024 10:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notes](
	[NidNote] [uniqueidentifier] NOT NULL,
	[GroupId] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[NoteContent] [nvarchar](max) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_Notes] PRIMARY KEY CLUSTERED 
(
	[NidNote] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Progresses]    Script Date: 4/5/2024 10:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Progresses](
	[NidProgress] [uniqueidentifier] NOT NULL,
	[ScheduleId] [uniqueidentifier] NOT NULL,
	[ProgressTime] [smallint] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Progresses] PRIMARY KEY CLUSTERED 
(
	[NidProgress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RoutineProgresses]    Script Date: 4/5/2024 10:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoutineProgresses](
	[NidRoutineProgress] [uniqueidentifier] NOT NULL,
	[RoutineId] [uniqueidentifier] NOT NULL,
	[ProgressDate] [date] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_RoutineProgresses] PRIMARY KEY CLUSTERED 
(
	[NidRoutineProgress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Routines]    Script Date: 4/5/2024 10:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Routines](
	[NidRoutine] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[RepeatType] [tinyint] NOT NULL,
	[RepeatDays] [nvarchar](25) NOT NULL,
	[FromDate] [date] NOT NULL,
	[Todate] [date] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[Status] [bit] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Routines] PRIMARY KEY CLUSTERED 
(
	[NidRoutine] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Schedules]    Script Date: 4/5/2024 10:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedules](
	[NidSchedule] [uniqueidentifier] NOT NULL,
	[TaskId] [uniqueidentifier] NOT NULL,
	[ScheduleDate] [date] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Schedules] PRIMARY KEY CLUSTERED 
(
	[NidSchedule] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Shields]    Script Date: 4/5/2024 10:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shields](
	[Id] [uniqueidentifier] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastModified] [datetime] NULL,
	[Title] [nvarchar](500) NOT NULL,
	[TargetUrl] [nvarchar](max) NOT NULL,
	[Username] [nvarchar](500) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Shields] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 4/5/2024 10:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[NidTask] [uniqueidentifier] NOT NULL,
	[GoalId] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[TaskStatus] [bit] NOT NULL,
	[TaskWeight] [tinyint] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[ClosureDate] [datetime] NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Tasks] PRIMARY KEY CLUSTERED 
(
	[NidTask] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 4/5/2024 10:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[NidTransaction] [uniqueidentifier] NOT NULL,
	[TransactionType] [tinyint] NOT NULL,
	[PayerAccount] [uniqueidentifier] NOT NULL,
	[RecieverAccount] [uniqueidentifier] NOT NULL,
	[Amount] [decimal](18, 0) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[TransactionReason] [nvarchar](max) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Transactions] PRIMARY KEY CLUSTERED 
(
	[NidTransaction] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/5/2024 10:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[NidUser] [uniqueidentifier] NOT NULL,
	[Username] [nvarchar](150) NOT NULL,
	[Password] [nvarchar](150) NOT NULL,
	[IsAdmin] [bit] NOT NULL,
	[ProfilePic] [varbinary](max) NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastLoginDate] [datetime] NULL,
	[IsDisabled] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[NidUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Accounts] ([NidAccount], [Title], [CreateDate], [LastModified], [Amount], [LendAmount], [IsActive], [UserId]) VALUES (N'7c5dedf2-94a5-4fc7-8d3f-1f442828df5a', N'6.Transport (sepah)', CAST(N'2023-09-13 15:27:48.000' AS DateTime), CAST(N'2024-03-16 20:47:51.417' AS DateTime), CAST(0 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), 0, N'95b1684c-e19e-49a9-9806-f165658d103c')
INSERT [dbo].[Accounts] ([NidAccount], [Title], [CreateDate], [LastModified], [Amount], [LendAmount], [IsActive], [UserId]) VALUES (N'c9a25811-0b21-4672-80c6-2869ff3a34d6', N'Investment (Nobi)', CAST(N'2023-05-28 09:50:36.000' AS DateTime), CAST(N'2023-12-13 09:52:20.387' AS DateTime), CAST(0 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), 0, N'95b1684c-e19e-49a9-9806-f165658d103c')
INSERT [dbo].[Accounts] ([NidAccount], [Title], [CreateDate], [LastModified], [Amount], [LendAmount], [IsActive], [UserId]) VALUES (N'c2aab83c-f7fb-4599-b938-2a1998087866', N'1.invest (mehr)', CAST(N'2024-03-16 20:29:06.880' AS DateTime), CAST(N'2024-04-04 12:40:14.433' AS DateTime), CAST(327000000 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), 1, N'95b1684c-e19e-49a9-9806-f165658d103c')
INSERT [dbo].[Goals] ([NidGoal], [Title], [GoalStatus], [FromDate], [ToDate], [Description], [CreateDate], [LastModifiedDate], [UserId]) VALUES (N'870e8211-b40a-4603-a898-02c2f341c166', N'2.skill', 1, CAST(N'2024-01-08' AS Date), CAST(N'2026-06-21' AS Date), NULL, CAST(N'2024-01-08 21:12:36.310' AS DateTime), CAST(N'2024-03-25 23:56:05.473' AS DateTime), N'95b1684c-e19e-49a9-9806-f165658d103c')
INSERT [dbo].[Goals] ([NidGoal], [Title], [GoalStatus], [FromDate], [ToDate], [Description], [CreateDate], [LastModifiedDate], [UserId]) VALUES (N'4c9fea1f-6e22-416d-8358-0bdd4e2c2a3f', N'Dev', 1, CAST(N'2023-10-29' AS Date), CAST(N'2024-01-21' AS Date), NULL, CAST(N'2023-10-29 14:33:26.247' AS DateTime), CAST(N'2023-10-29 14:33:26.247' AS DateTime), N'95b1684c-e19e-49a9-9806-f165658d103c')
INSERT [dbo].[Goals] ([NidGoal], [Title], [GoalStatus], [FromDate], [ToDate], [Description], [CreateDate], [LastModifiedDate], [UserId]) VALUES (N'19f1d2ee-ec7e-497b-824b-0d11f6d33c30', N'1.financial', 1, CAST(N'2024-01-08' AS Date), CAST(N'2026-06-21' AS Date), NULL, CAST(N'2024-01-08 21:11:36.127' AS DateTime), CAST(N'2024-03-25 23:59:08.963' AS DateTime), N'95b1684c-e19e-49a9-9806-f165658d103c')
INSERT [dbo].[NoteGroups] ([NidGroup], [Title], [CreateDate], [ModifiedDate], [UserId]) VALUES (N'fe3b355f-37d8-42e9-b672-709c4b4ce507', N'Leisure', CAST(N'2023-05-19 19:20:07.000' AS DateTime), CAST(N'2023-05-19 23:19:40.147' AS DateTime), N'95b1684c-e19e-49a9-9806-f165658d103c')
INSERT [dbo].[NoteGroups] ([NidGroup], [Title], [CreateDate], [ModifiedDate], [UserId]) VALUES (N'400fba0d-babe-4f84-940e-9a3f116351ad', N'Behavior', CAST(N'2023-06-10 09:08:02.007' AS DateTime), CAST(N'2023-06-10 09:08:02.007' AS DateTime), N'95b1684c-e19e-49a9-9806-f165658d103c')
INSERT [dbo].[NoteGroups] ([NidGroup], [Title], [CreateDate], [ModifiedDate], [UserId]) VALUES (N'38f66dff-3f2a-4aa7-ba9d-d867e8e6262f', N'Financial', CAST(N'2023-05-19 23:38:47.447' AS DateTime), CAST(N'2023-05-19 23:38:47.447' AS DateTime), N'95b1684c-e19e-49a9-9806-f165658d103c')
INSERT [dbo].[Notes] ([NidNote], [GroupId], [Title], [NoteContent], [CreateDate], [ModifiedDate]) VALUES (N'e97c70d9-6599-4a14-babb-3f62b90decb1', N'55d3eb3d-fd3d-4d30-bdd2-e212102ab76b', N'portfolio design', N'<p>1.meaningful apps with standard structures</p>', CAST(N'2024-02-16 18:42:01.710' AS DateTime), CAST(N'2024-02-16 18:42:01.710' AS DateTime))
INSERT [dbo].[Progresses] ([NidProgress], [ScheduleId], [ProgressTime], [CreateDate], [Description], [UserId]) VALUES (N'89e30d9f-766e-48d1-a9fc-01dd2ee9be7b', N'682aeb3d-0fc4-4a49-b9a3-2118521ee925', 1, CAST(N'2023-08-24 14:16:12.867' AS DateTime), NULL, N'95b1684c-e19e-49a9-9806-f165658d103c')
INSERT [dbo].[Progresses] ([NidProgress], [ScheduleId], [ProgressTime], [CreateDate], [Description], [UserId]) VALUES (N'9083383d-cc19-4ad9-8de9-0269473aa0eb', N'4ca002ae-20ad-41bc-bea1-e19a8491acbf', 1, CAST(N'2023-10-05 14:34:59.293' AS DateTime), NULL, N'95b1684c-e19e-49a9-9806-f165658d103c')
INSERT [dbo].[Progresses] ([NidProgress], [ScheduleId], [ProgressTime], [CreateDate], [Description], [UserId]) VALUES (N'a86e673f-64bf-4899-8beb-038d20f3cc42', N'ed111155-dabd-4328-9208-d510a1fa3d6a', 2, CAST(N'2023-06-13 18:45:59.577' AS DateTime), N'get lendo 20 m loan', N'95b1684c-e19e-49a9-9806-f165658d103c')
GO
INSERT [dbo].[RoutineProgresses] ([NidRoutineProgress], [RoutineId], [ProgressDate], [CreateDate]) VALUES (N'ffb2565a-e3b9-402e-b7fc-005fd310c2da', N'b6b8563d-b842-4226-93eb-f898132d1de7', CAST(N'2023-06-18' AS Date), CAST(N'2023-06-19 08:35:00.420' AS DateTime))
INSERT [dbo].[RoutineProgresses] ([NidRoutineProgress], [RoutineId], [ProgressDate], [CreateDate]) VALUES (N'8a3caf97-764c-41ba-a66d-011b81e9a844', N'26b3d033-b37f-4a04-9a5a-e8fa4790bf3e', CAST(N'2023-06-15' AS Date), CAST(N'2023-06-15 19:46:59.333' AS DateTime))
INSERT [dbo].[RoutineProgresses] ([NidRoutineProgress], [RoutineId], [ProgressDate], [CreateDate]) VALUES (N'73819dd8-e5a2-417e-9e3c-01405e31f9a9', N'f6d9fa33-d93e-451d-9245-9b2e5f7f1688', CAST(N'2023-09-11' AS Date), CAST(N'2023-09-12 09:08:01.603' AS DateTime))
GO
INSERT [dbo].[Routines] ([NidRoutine], [Title], [RepeatType], [RepeatDays], [FromDate], [Todate], [CreateDate], [ModifiedDate], [Status], [UserId]) VALUES (N'17466b1a-6969-4942-a1d4-030b52cf133d', N'Strategy check', 1, N'0', CAST(N'2023-11-05' AS Date), CAST(N'2023-11-05' AS Date), CAST(N'2023-11-05 11:53:14.990' AS DateTime), NULL, 0, N'95b1684c-e19e-49a9-9806-f165658d103c')
INSERT [dbo].[Routines] ([NidRoutine], [Title], [RepeatType], [RepeatDays], [FromDate], [Todate], [CreateDate], [ModifiedDate], [Status], [UserId]) VALUES (N'ba8cd547-26a5-43f1-a771-0f1dbb88d13e', N'general knowledge', 1, N'0', CAST(N'2023-09-30' AS Date), CAST(N'2023-10-20' AS Date), CAST(N'2023-09-29 19:49:41.347' AS DateTime), CAST(N'2023-10-27 18:16:04.843' AS DateTime), 0, N'95b1684c-e19e-49a9-9806-f165658d103c')
INSERT [dbo].[Routines] ([NidRoutine], [Title], [RepeatType], [RepeatDays], [FromDate], [Todate], [CreateDate], [ModifiedDate], [Status], [UserId]) VALUES (N'cbce3c9a-c0a8-4169-87c0-106a92c9afd8', N'Taghche Books', 2, N'1,3,2,4,5,7', CAST(N'2023-05-20' AS Date), CAST(N'2023-06-01' AS Date), CAST(N'2023-05-19 23:37:47.177' AS DateTime), CAST(N'2023-06-05 19:25:41.480' AS DateTime), 0, N'95b1684c-e19e-49a9-9806-f165658d103c')
INSERT [dbo].[Schedules] ([NidSchedule], [TaskId], [ScheduleDate], [CreateDate]) VALUES (N'c1464a2e-4a17-4711-8913-006c25ee14e8', N'6932c496-7a28-4bf2-96b7-41f851da76e4', CAST(N'2023-06-02' AS Date), CAST(N'2023-05-28 09:34:52.810' AS DateTime))
INSERT [dbo].[Schedules] ([NidSchedule], [TaskId], [ScheduleDate], [CreateDate]) VALUES (N'1857a81c-95e6-4c5a-93aa-00790a687f1e', N'6932c496-7a28-4bf2-96b7-41f851da76e4', CAST(N'2023-05-24' AS Date), CAST(N'2023-05-19 14:14:56.220' AS DateTime))
INSERT [dbo].[Schedules] ([NidSchedule], [TaskId], [ScheduleDate], [CreateDate]) VALUES (N'b1150a98-fd4f-4c18-8d88-01016adbe09e', N'2d4d80cf-9bea-4ebb-8fd9-c9ad0cd30c87', CAST(N'2023-06-08' AS Date), CAST(N'2023-06-05 19:18:29.347' AS DateTime))
GO
INSERT [dbo].[Shields] ([Id], [CreateDate], [LastModified], [Title], [TargetUrl], [Username], [Password], [UserId]) VALUES (N'55b30bde-c822-4041-893d-038afdcd5c11', CAST(N'2023-07-14 20:48:38.673' AS DateTime), NULL, N'e estekhdam', N'https://e-estekhdam.com/', N'alb.rajabi@gmail.com', N'8b9+G+BAvNhuNnTkzOmwbQ==', N'95b1684c-e19e-49a9-9806-f165658d103c')
INSERT [dbo].[Shields] ([Id], [CreateDate], [LastModified], [Title], [TargetUrl], [Username], [Password], [UserId]) VALUES (N'b2d4185f-26ea-4d5a-bdf9-0e43d4cfdeb5', CAST(N'2023-07-14 20:48:54.370' AS DateTime), NULL, N'ebgo mofid', N'https://mofid.ebgo.ir/Login', N'0018112511', N'8b9+G+BAvNiXYABdI5SoDA==', N'95b1684c-e19e-49a9-9806-f165658d103c')
INSERT [dbo].[Shields] ([Id], [CreateDate], [LastModified], [Title], [TargetUrl], [Username], [Password], [UserId]) VALUES (N'34de0cc9-b51e-4639-844b-10d1cc411a0a', CAST(N'2023-07-14 20:50:28.287' AS DateTime), NULL, N'jobinja', N'https://jobinja.ir/', N'alb.rajabi@gmail.com', N'3GWXLiH1JFNuNnTkzOmwbQ==', N'95b1684c-e19e-49a9-9806-f165658d103c')
INSERT [dbo].[Tasks] ([NidTask], [GoalId], [Title], [TaskStatus], [TaskWeight], [Description], [CreateDate], [LastModifiedDate], [ClosureDate], [UserId]) VALUES (N'4a8c29c8-41df-403b-94f2-04e206400ead', N'877887f4-588d-4122-adbe-3d6a1e827303', N'Clothes', 0, 10, NULL, CAST(N'2024-01-08 21:35:42.590' AS DateTime), CAST(N'2024-01-08 21:35:42.590' AS DateTime), NULL, N'95b1684c-e19e-49a9-9806-f165658d103c')
INSERT [dbo].[Tasks] ([NidTask], [GoalId], [Title], [TaskStatus], [TaskWeight], [Description], [CreateDate], [LastModifiedDate], [ClosureDate], [UserId]) VALUES (N'ffdb4963-5424-48e2-b784-053ea8c9892d', N'877887f4-588d-4122-adbe-3d6a1e827303', N'Gym plan and start', 0, 40, NULL, CAST(N'2024-01-08 21:25:19.730' AS DateTime), CAST(N'2024-01-08 21:35:57.873' AS DateTime), NULL, N'95b1684c-e19e-49a9-9806-f165658d103c')
INSERT [dbo].[Tasks] ([NidTask], [GoalId], [Title], [TaskStatus], [TaskWeight], [Description], [CreateDate], [LastModifiedDate], [ClosureDate], [UserId]) VALUES (N'dd1af24f-e74b-4b0d-ae59-25ee23dd61c9', N'20d594fd-3298-46af-8b03-9caaf11c2ed9', N'Speech training', 0, 80, N'Work on it in holidays', CAST(N'2024-01-08 21:31:55.550' AS DateTime), CAST(N'2024-02-24 11:52:16.763' AS DateTime), NULL, N'95b1684c-e19e-49a9-9806-f165658d103c')
INSERT [dbo].[Transactions] ([NidTransaction], [TransactionType], [PayerAccount], [RecieverAccount], [Amount], [CreateDate], [TransactionReason], [UserId]) VALUES (N'bb9c84bf-5882-4988-8a7a-00915367ef71', 1, N'8a90c333-5d40-44b3-a04a-6df69df0f056', N'5fbcb044-8e53-4e80-bd4a-64a5db7dd477', CAST(1000000 AS Decimal(18, 0)), CAST(N'2023-07-18 10:23:48.443' AS DateTime), N'Mordad''s monthly', N'95b1684c-e19e-49a9-9806-f165658d103c')
INSERT [dbo].[Transactions] ([NidTransaction], [TransactionType], [PayerAccount], [RecieverAccount], [Amount], [CreateDate], [TransactionReason], [UserId]) VALUES (N'ad9e4ebe-cc05-496c-9f08-00bd115fc4b6', 3, N'a5b887da-c73a-436b-b2ae-f1b1e0cb213e', N'463a25fc-c70c-4528-83f2-ace7f24aa354', CAST(7500000 AS Decimal(18, 0)), CAST(N'2024-03-16 20:41:34.517' AS DateTime), N'new accounts arrangement', N'95b1684c-e19e-49a9-9806-f165658d103c')
INSERT [dbo].[Transactions] ([NidTransaction], [TransactionType], [PayerAccount], [RecieverAccount], [Amount], [CreateDate], [TransactionReason], [UserId]) VALUES (N'2eec7334-99f5-4ef8-9c72-0126bf628293', 1, N'463a25fc-c70c-4528-83f2-ace7f24aa354', N'd54d1fee-bf4c-4ace-ae0e-9736e8367cc8', CAST(5455000 AS Decimal(18, 0)), CAST(N'2023-11-14 11:16:05.767' AS DateTime), N'Pod loan done', N'95b1684c-e19e-49a9-9806-f165658d103c')
GO
INSERT [dbo].[Users] ([NidUser], [Username], [Password], [IsAdmin], [ProfilePic], [CreateDate], [LastLoginDate], [IsDisabled]) VALUES (N'95b1684c-e19e-49a9-9806-f165658d103c', N'admin', N'ygXNvso04OE=', 1, NULL, CAST(N'2023-05-05 21:47:03.000' AS DateTime), CAST(N'2024-04-05 22:54:43.620' AS DateTime), 0)
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Username]    Script Date: 4/5/2024 10:57:54 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Username] ON [dbo].[Users]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([NidUser])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_Users]
GO
ALTER TABLE [dbo].[Goals]  WITH CHECK ADD  CONSTRAINT [FK_Goals_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([NidUser])
GO
ALTER TABLE [dbo].[Goals] CHECK CONSTRAINT [FK_Goals_Users]
GO
ALTER TABLE [dbo].[NoteGroups]  WITH CHECK ADD  CONSTRAINT [FK_NoteGroups_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([NidUser])
GO
ALTER TABLE [dbo].[NoteGroups] CHECK CONSTRAINT [FK_NoteGroups_Users]
GO
ALTER TABLE [dbo].[Notes]  WITH CHECK ADD  CONSTRAINT [FK_Notes_NoteGroups] FOREIGN KEY([GroupId])
REFERENCES [dbo].[NoteGroups] ([NidGroup])
GO
ALTER TABLE [dbo].[Notes] CHECK CONSTRAINT [FK_Notes_NoteGroups]
GO
ALTER TABLE [dbo].[Progresses]  WITH CHECK ADD  CONSTRAINT [FK_Progresses_Schedules] FOREIGN KEY([ScheduleId])
REFERENCES [dbo].[Schedules] ([NidSchedule])
GO
ALTER TABLE [dbo].[Progresses] CHECK CONSTRAINT [FK_Progresses_Schedules]
GO
ALTER TABLE [dbo].[Progresses]  WITH CHECK ADD  CONSTRAINT [FK_Progresses_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([NidUser])
GO
ALTER TABLE [dbo].[Progresses] CHECK CONSTRAINT [FK_Progresses_Users]
GO
ALTER TABLE [dbo].[RoutineProgresses]  WITH CHECK ADD  CONSTRAINT [FK_RoutineProgresses_Routines] FOREIGN KEY([RoutineId])
REFERENCES [dbo].[Routines] ([NidRoutine])
GO
ALTER TABLE [dbo].[RoutineProgresses] CHECK CONSTRAINT [FK_RoutineProgresses_Routines]
GO
ALTER TABLE [dbo].[Routines]  WITH CHECK ADD  CONSTRAINT [FK_Routines_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([NidUser])
GO
ALTER TABLE [dbo].[Routines] CHECK CONSTRAINT [FK_Routines_Users]
GO
ALTER TABLE [dbo].[Schedules]  WITH CHECK ADD  CONSTRAINT [FK_Schedules_Tasks] FOREIGN KEY([TaskId])
REFERENCES [dbo].[Tasks] ([NidTask])
GO
ALTER TABLE [dbo].[Schedules] CHECK CONSTRAINT [FK_Schedules_Tasks]
GO
ALTER TABLE [dbo].[Shields]  WITH CHECK ADD  CONSTRAINT [FK_Shields_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([NidUser])
GO
ALTER TABLE [dbo].[Shields] CHECK CONSTRAINT [FK_Shields_Users]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Goals_Tasks] FOREIGN KEY([GoalId])
REFERENCES [dbo].[Goals] ([NidGoal])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Goals_Tasks]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([NidUser])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Users]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([NidUser])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Users]
GO
USE [master]
GO
